
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0eb2e9c0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(208, 163, 163, 0.904);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d23a3a;
    border-radius: 3px;
}

button {
    background-color: #75a4d6;
    color: #fff;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 3px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
